body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.contenedor-sidebar{
  display: inline-block;
  background-color: #005571;
  width: 15%;
  height: 100vh;
}
.real-body{
  display: inline-block;
  width: 84%;
}
.contenedor-sidebar ul li{
  /*box-model*/
  list-style-type: none;
  width: 180px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Box-position*/
  position: relative;
  left: -35px;
  /*box-content*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.contenedor-sidebar ul li:hover{
  cursor: pointer;
  background-color: #136c8a;
}
.contenedor-sidebar a{
  text-decoration: none;
  color: inherit;
}